

.Product{
    display:flex;
    border:1px solid lightgray;
    padding:15px;
}


.Product-description{
    padding:20px;
    margin-left:20px;
}

.product-name{
    color:rgba(67, 36, 170, 0.966)
}

.Product-description h3{
   font-weight: normal;
}

.bg-primary{
    padding:5px 35px;
    background-color: rgb(231, 172, 10);
    font-size:15px;
}
